/.env
/.htaccess
/.htaccess.*
/.htaccess123
/.htaccess2
/vendor/
node_modules/
npm-debug.log
yarn-error.log
.env
.ftpquota
.user.ini
dev.env
1php.ini
digiocean.txt
/todolist.txt
error_log
eula.1028.txt
vendor.zip
test.php
/public/storage
/storage/*.key
/storage/*.zip
/storage/*.log
/storage/*.gz
/storage/*.sql
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*.zip
todolist.txt
